<%- include('partials/header') %>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>Back End Development Technologies</h1>
        <%- include('technologies', { technologies }) %> 
    </div>
<%- include('partials/footer') %>