<%- include('partials/header', { title: 'Back End Technologies'}) %>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>Back End Development Technologies</h1>
        <%- include('partials/technologies', { technologies }) %> 
    </div>
<%- include('partials/footer') %>