<%- include('partials/header', { title: 'Front End Technologies'}) %>
    <%- include('partials/navbar') %> 
    <div class="container">
        <h1>Front End Development Stack</h1>
        <%- include('partials/technologies', { technologies }) %> 
    </div>
<%- include('partials/footer') %>