<%- include('partials/header', { title: 'Homepage' }) %>
    <%- include('partials/navbar') %> 
    <div class="container">
        <h1>Using Node, Express, EJS and Bootstrap</h1>
    </div>

<%- include('partials/footer') %>